body{
    margin: 300px;
    background-color: #737373;

h1{
    background-color: ;
}

}


a{
    text-decoration: none;
    border-style: none;
    text-decoration-color: antiquewhite;
}